
* { 
    margin: 0; 
    padding: 0; 
} 

*,
*::before,
*::after {
  box-sizing: border-box;
}
.bodyClass {
    max-width: 1440px;
    margin: auto;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    
}
.gallery img {
   width: 360px;
   
}

.gallery img:hover {
    cursor: url('/svg/bxs_hand-down.svg'), auto;
}

#lightbox {
  background-color: rgba(66, 46, 66, 0.8);
}

#lightbox img {
  position: sticky;
  top: 24px;
  height: 100%;
  width: 100%;
}

